/* Custom stylesheet */

QWidget#main_window {background-color: #1E1E2F; border-style: solid; border-color: #6B6F83; border-width: 2px; border-radius: 6px}
QWidget#main_window > QWidget {background-color: black; border-style: solid; border-color: #6B6F83; border-width: 2px; border-radius: 6px}
QWidget#main_window > QWidget QLabel {color: #E8E8F0; font-size: 18px}

QTabWidget::pane {background-color: black; border-style: solid; border-color: silver; border-width: 1px; border-radius: 6px; margin-top: 3px}
QTabWidget > QWidget {font-size: 15px}

QTabBar::tab {background-color: #3B3F58; color: #E8E8F0; border-style: solid; border-color: #6B6F83; border-width: 1px ; border-radius: 3px;
              margin-right: 5px; min-width: 180px; max-width: 180px; min-height: 24px; max-height: 24px; font-size: 13px}
QTabBar::tab:hover {border-color: #B5B5BA}
QTabBar::tab:selected {border-color: #B5B5BA}

QTableWidget {background-color: black; gridline-color: #6B6F83; color: #E8E8F0}

QHeaderView {background-color: black}
QHeaderView::section:horizontal {background-color: #7D510B; color: #E8E8F0; border-style: solid; border-color: #6B6F83; border-width: 1px}
QHeaderView::section:vertical {background-color: black; color: #E8E8F0; border-style: solid; border-color: #6B6F83; border-width: 1px}

QToolTip {background-color: #3B3F58; color: #E8E8F0; border-style: solid; border-color: #6B6F83; border-width: 1px; border-radius: 2px;
          padding: 2px; font-size: 14px}

QToolButton::menu-indicator {image: none}
QToolButton {background-color: #3B3F58; border-style: solid; border-color: #6B6F83; border-width: 1px; border-radius: 2px; font-size: 14px}
QToolButton:hover {border-color: #B5B5BA}
QToolButton:pressed {border-color: #6B6F83}

QMenu {border: none}
QMenu::item {background-color: #3B3F58; color: #E8E8F0; border-style: solid; border-color: #6B6F83; border-width: 1px; border-radius: 2px;
             padding-left: 25px; padding-top: 5px; padding-bottom: 5px; font-size: 14px; }
QMenu::item:selected {border-color: #B5B5BA}
QMenu::item:pressed {border-color: #6B6F83}

QPushButton {background-color: #3B3F58; color: #E8E8F0; border-style: solid; border-color: #6B6F83; border-width: 1px; border-radius: 2px; font-size: 14px}
QPushButton:hover {border-color: #B5B5BA}
QPushButton:pressed {border-color: #6B6F83}