/* Custom stylesheet */

QDialog {background-color: #1E1E2F; border-style: solid; border-color:  #6B6F83; border-width: 2px; border-radius: 6px}

QGroupBox#alg_settings_outer_container {border-style: solid; border-color:  #6B6F83; border-width: 2px; border-radius: 6px; font-size: 12px}
QGroupBox#alg_settings_outer_container QLabel {font-size: 14px}

QWidget#alg_settings_inner_container {background-color: black; border-style: solid; border-color: silver; border-width: 1px; border-radius: 6px}
QWidget#alg_settings_inner_container QLabel {min-width: 220px; max-width: 220px; font-size: 14px}
QWidget#alg_settings_inner_container QDoubleSpinBox {background-color: #6B6F83; min-width: 100px; max-width: 100px; min-height: 25px; max-height: 25px; font-size: 14px}
QWidget#alg_settings_inner_container QComboBox {background-color: #6B6F83; min-width: 100px; max-width: 100px; min-height: 25px; max-height: 25px; font-size: 14px}

QGroupBox#structures_info_outer_container {border-style: solid; border-color: #6B6F83; border-width: 2px; border-radius: 6px; font-size: 12px}
QGroupBox#structures_info_outer_container QLabel {font-size: 14px}

QScrollArea#structures_info_scrollable_area {border-style: solid; border-color: #6B6F83; border-width: 2px; border-radius: 6px}
QScrollArea#structures_info_scrollable_area QWidget QGroupBox {background-color: black; border-style: solid; border-color: silver; border-width: 1px; border-radius:6px}
QScrollArea#structures_info_scrollable_area QWidget QGroupBox QLabel {min-width: 120px; max-width: 120px; font-size: 14px; margin-left: 5px}
QScrollArea#structures_info_scrollable_area QWidget QGroupBox QComboBox {background-color: #6B6F83; min-width: 260px; max-width: 260px; min-height: 25px; max-height: 25px; font-size: 14px}
QScrollArea#structures_info_scrollable_area QWidget QGroupBox QSpinBox {background-color: #6B6F83; min-width: 100px; max-width: 100px; min-height: 25px; max-height: 25px; font-size: 14px}

QPushButton#apply_button {background-color: #3B3F58; color: #E8E8F0; border-style: solid; border-color: #6B6F83; border-width: 1px; border-radius: 6px; min-width: 80px; max-width: 80px; min-height: 25px; max-height: 25px; font-size: 14px}
QPushButton#apply_button:hover {border-color: #B5B5BA}
QPushButton#apply_button:pressed {border-color: #6B6F83}